//- 加载动画 https://akilar.top/posts/3d221bf2/
if theme.preloader.enable
  case theme.preloader.load_style    
    when 'gear'
      include ./load_style/gear.pug
    when 'ironheart'
      include ./load_style/ironheart.pug
    when 'scarecrow'
      include ./load_style/scarecrow.pug
    when 'triangles'
      include ./load_style/triangles.pug
    when 'wizard'
      include ./load_style/wizard.pug
    when 'image'
      include ./load_style/image.pug
    when 'spincat'
      include ./load_style/spincat.pug
    when 'pokeball'
      include ./load_style/pokeball.pug
    when 'hyperspace'
      include ./load_style/hyperspace.pug
    when 'doodle'
      include ./load_style/doodle.pug
    when 'linkstart'
      include ./load_style/linkstart.pug
    when 'fullpage'
      include ./load_style/fullpage-loading.pug
    default
      include ./load_style/default.pug