#Waves_shape
  svg.waves(preserveAspectRatio="none" shape-rendering="auto" viewBox="0 24 150 28" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg")
    defs
      path#gentle-wave(d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z")
    g.parallax
      use.waves_shape1(x="48" xlink:href="#gentle-wave" y="0")
      use.waves_shape2(x="48" xlink:href="#gentle-wave" y="3")
      use.waves_shape3(x="48" xlink:href="#gentle-wave" y="5")
      use.waves_shape4(x="48" xlink:href="#gentle-wave" y="7")