// 全局默认鼠标指针 
body *,
html *
  cursor: var(--cursor-arrow),auto!important
img
  cursor: var(--cursor-help),auto!important
a
  &:hover
    cursor: var(--cursor-link),auto!important
textarea,
input
  &:hover
    cursor: var(--cursor-input),auto!important
canvas
  &:hover
    cursor: var(--cursor-move),auto!important
article h1,
article h2
article h3,
article h4,
article h5,
article h6,
article li,
article p,
article span
  &:hover
    cursor: var(--cursor-handwriting),auto!important
summary
  &:hover
    cursor: var(--cursor-help),auto!important
button
  &:hover
    cursor: var(--cursor-link),auto !important
i
  &:hover
    cursor: var(--cursor-arrow),auto!important
#footer-wrap
  a&:hover
    cursor: var(--cursor-link),auto!important
#pagination
  .page-number
    &:hover
      cursor: var(--cursor-link),auto!important
#nav
  .site-page
    &:hover
      cursor: var(--cursor-link),auto!important
.author-switch-content
  .switch-content
    cursor: var(--cursor-link),auto!important