// 自定义字体 
@font-face
  font-family: 'alimm2024'
  font-display: swap
  src: url("https://font.onmicrosoft.cn/naokuo-blog@1.0.17/fontsdest/AlimamaDongFangDaKai-Regular.woff2") format("woff2"),url("https://font.onmicrosoft.cn/naokuo-blog@1.0.17/fontsdest/AlimamaDongFangDaKai-Regular.woff") format("woff")
  font-weight: 400

#site-subtitle,
#inof-ttf
  font-family: 'Ma Shan Zheng'

@font-face {
    font-family: UnidreamLED;
    src: url(https://font.onmicrosoft.cn/anzhiyu-blog@1.1.6/fonts/UnidreamLED.ttf);
    font-display: swap
}

@font-face {
    font-family: qweather-icons;
    src: url(https://font.onmicrosoft.cn/hexo-butterfly-clock-anzhiyu/lib/fonts/qweather-icons.woff2) format("woff2"),url(https://font.onmicrosoft.cn/hexo-butterfly-clock-anzhiyu/lib/fonts/qweather-icons.woff) format("woff"),url(https://font.onmicrosoft.cn/hexo-butterfly-clock-anzhiyu/lib/fonts/qweather-icons.ttf) format("truetype")
}