//  评论魔改 
.wl-emoji-popup 
  .wl-tabs
    display: flex
    position: relative
    overflow-x: scroll
    height: 2em
    padding: 0 6px 1px
    white-space: nowrap
    justify-content: flex-start
    flex-wrap: nowrap
    flex-direction: row
    align-items: center
.wl-editor
  min-height: 14.75em !important
ul.wl-sort
  display: flex
  margin: 0
  list-style-type: none
  flex-wrap: nowrap
  flex-direction: row