// 自定义主题二
[naokuo-theme='mode1']
  --cursor-arrow: url("https://cdn.jsdelivr.net/gh/XXKDB/img_cdn/cursor/normal.cur") //箭头
  --cursor-backrunning: url("https://cdn.jsdelivr.net/gh/XXKDB/img_cdn/cursor/ayuda.cur") //后退
  --cursor-ban: url("https://cdn.jsdelivr.net/gh/XXKDB/img_cdn/cursor/ayuda.cur") //禁令
  --cursor-busy: url("https://cdn.jsdelivr.net/gh/XXKDB/img_cdn/cursor/ayuda.cur") //忙碌的
  --cursor-handwriting: url("https://cdn.jsdelivr.net/gh/XXKDB/img_cdn/cursor/No_Disponible.cur") //书写
  --cursor-help: url("https://cdn.jsdelivr.net/gh/XXKDB/img_cdn/cursor/ayuda.cur") //帮助
  --cursor-link: url("https://cdn.jsdelivr.net/gh/XXKDB/img_cdn/cursor/ayuda.cur") //链接
  --cursor-move: url("https://cdn.jsdelivr.net/gh/XXKDB/img_cdn/cursor/ayuda.cur") //移动
  --cursor-input: url("https://cdn.jsdelivr.net/gh/XXKDB/img_cdn/cursor/texto.cur") //输入
  --aside-content: #f4dfd3e3
  --Waves_shape1:rgba(255,255,255,0.7)
  --Waves_shape2:rgba(255,255,255,0.5)
  --Waves_shape3:rgba(255,255,255,0.3)
  --Waves_shape4:#fff
  --snackbar-container :#000000


  // 自定义夜间模式
  &[data-theme="dark"]
    --aside-content: rgba(112, 42, 2, 0.534)
    --snackbar-container :#ffffff